In [9]:
import pandas as pd

# Read data from file
url = 'https://raw.githubusercontent.com/freeCodeCamp/boilerplate-demographic-data-analyzer/main/adult.data.csv'
df = pd.read_csv(url)
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
race_count = len(df['race'].unique())
race_count

5

In [16]:
df.sum()

age                                                         1256257
workclass         State-govSelf-emp-not-incPrivatePrivatePrivate...
fnlwgt                                                   6179373392
education         BachelorsBachelorsHS-grad11thBachelorsMasters9...
education-num                                                328237
marital-status    Never-marriedMarried-civ-spouseDivorcedMarried...
occupation        Adm-clericalExec-managerialHandlers-cleanersHa...
relationship      Not-in-familyHusbandNot-in-familyHusbandWifeWi...
race              WhiteWhiteWhiteBlackBlackWhiteBlackWhiteWhiteW...
sex               MaleMaleMaleMaleFemaleFemaleFemaleMaleFemaleMa...
capital-gain                                               35089324
capital-loss                                                2842700
hours-per-week                                              1316684
native-country    United-StatesUnited-StatesUnited-StatesUnited-...
salary            <=50K<=50K<=50K<=50K<=50K<=50K<=50K>50K>50K>50...
dtype: object

In [33]:
(sum(df['education']=='Bachelors')/len(df))*100

16.44605509658794

In [34]:
percentage_bachelors = (sum(df['education']=='Bachelors')/len(df))*100
print(f"{percentage_bachelors:.2f}%")

16.45%

In [ ]:
df['education'].unique()

 What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
 What percentage of people without advanced education make more than 50K?

with and without `Bachelors`, `Masters`, or `Doctorate`

higher_education = None

lower_education = None

In [42]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [47]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [66]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
HS_higher_education = higher_education[higher_education.salary == '>50K']
HS_lower_education = lower_education[lower_education.salary == '>50K']

print(len(df))
print(len(higher_education))
print(len(HS_higher_education))
print(len(lower_education))
print(len(HS_lower_education))

32561
7491
3486
25070
4355

In [63]:
print(lower_education['education'].unique())
print(higher_education['education'].unique())

['HS-grad' '11th' '9th' 'Some-college' 'Assoc-acdm' 'Assoc-voc' '7th-8th'
 'Prof-school' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
['Bachelors' 'Masters' 'Doctorate']

In [71]:
  # with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

    # percentage with salary >50K
higher_education_rich = (len(higher_education[higher_education.salary == '>50K'])/len(higher_education))*100
lower_education_rich = (len(lower_education[lower_education.salary == '>50K'])/len(lower_education))*100

46.535843011613935
17.3713601914639

What is the minimum number of hours a person works per week (hours-per-week feature)?

min_work_hours = None

In [73]:
df['hours-per-week'].min()

1

In [82]:
min_work_hours = df['hours-per-week'].min()
sum(df['hours-per-week'] == min_work_hours)
sum(df[df['hours-per-week'] == min_work_hours].salary == '>50k')

0

In [83]:
df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50k')]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []

What country has the highest percentage of people that earn >50K?

In [88]:
percentage_high_income_by_country = df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean() * 100)
percentage_high_income_by_country

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands             0.000000
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)     0.000000
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: salary, dtype: float64

Identify the most popular occupation for those who earn >50K in India.

top_IN_occupation = 1

In [105]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'

In [ ]:
df.groupby('native-country')['salary'].apply(lambda x: (x == '>50K').mean() * 100)

In [110]:
n_by_nation = df['native-country'].value_counts()
n_by_nation_rich = df[df['salary'] == '>50K']['native-country'].value_counts()
(n_by_nation_rich/n_by_nation).idxmax()

In [123]:
idxmax?

Object `idxmax` not found.

In [126]:
((df[df['salary'] == '>50K']['native-country'].value_counts())/(df['native-country'].value_counts())).max()*100

41.86046511627907

### RESPUESTA:

In [93]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    url = 'adult.data.csv'
    df = pd.read_csv(url)

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = round(df[df['sex'] == 'Male']['age'].mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((sum(df['education']=='Bachelors')/len(df))*100,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = round(df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])],1)
    lower_education = round(df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])],1)

    # percentage with salary >50K
    higher_education_rich = round((len(higher_education[higher_education.salary =='>50K'])/len(higher_education))*100,1)
    lower_education_rich = round((len(lower_education[lower_education.salary == '>50K'])/len(lower_education))*100,1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (sum(df['hours-per-week'] == min_work_hours))

    rich_percentage = ((sum(df[df['hours-per-week'] == min_work_hours].salary == '>50K'))/(num_min_workers))*100

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = ((df[df['salary'] == '>50K']['native-country'].value_counts())/(df['native-country'].value_counts())).idxmax()
    highest_earning_country_percentage = round(((df[df['salary'] == '>50K']['native-country'].value_counts())/(df['native-country'].value_counts())).max()*100,1)

    n_by_nation = df['native-country'].value_counts()
    n_by_nation_rich = df[df['salary'] == '>50K']['native-country'].value_counts()
    (n_by_nation_rich/n_by_nation).idxmax()

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }